# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec
dist/
build/

# System files
.DS_Store
Thumbs.db

# Environment files
.env

# VSCode
.vscode/
